<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wait</title>
</head>
<body>
<div class="container">
    <h1>Chill for a bit</h1>
    <p>Hang on</p>
</div>
{{> footer}}
</body>
</html>